@model at_infnet_mvc.Models.Pessoa;
@{
}

<div>
    <h4>Detalhes da pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Sobrenome
        </dt>
        <dd class="col-sm-10">
            @Model.Sobrenome
        </dd>
        <dt class="col-sm-2">
            Data de Nascimento
        </dt>
        <dd class="col-sm-10">
            @Model.Aniversario.Day.ToString("00")/@Model.Aniversario.Month.ToString("00")/@Model.Aniversario.Year.ToString("0000")
        </dd>

    </dl>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Voltar para a Home", "Index")
    </button>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Voltar para listagem completa", "ListaTodos")
    </button>
</div>
