@model at_infnet_mvc.Models.Pessoa
@{
}

<h1>Editar</h1>
<hr />

<form method="post">
    @Html.AntiForgeryToken()

    
    <label for="Nome">Nome</label>
    <input type="text" class="form-control" placeholder="@Model.Nome" name="Nome" required>
    <label for="Sobrenome">Sobrenome</label>
    <input type="text" class="form-control" placeholder="@Model.Sobrenome" name="Sobrenome" required>
    <label for="Aniversário">Aniversario</label>
    <input type="date" class="form-control" placeholder="@Model.Aniversario" name="Aniversario" required>
    <br />
    <input type="submit" value="Salvar" class="btn btn-outline-success" />
    <button type="button" class="btn btn-outline-info">
        @Html.ActionLink("Home", "Index")
    </button>

</form>